node_modules/
crates/db_impl/.env
crates/db_impl/target
dev-tools/.vagrant
crates/ui-app/.cache
crates/ui-app/node_modules
crates/ui-app/target
crates/codegen
.parcel-cache
.vagrant
target
crates/api-client
crates/server/.cargo
crates/server/.openapi-generator
crates/server/api
crates/server/docs
crates/server/src
crates/server/.gitignore
crates/server/README.md
crates/server/Cargo.toml
crates/server/examples/ca.pem
crates/server/examples/server-chain.pem
crates/server/examples/server-key.pem
crates/server/examples/client/main.rs
crates/server/examples/server/main.rs
crates/common/src/models.rs
crates/common/src/header.rs

crates/ui-app/dist/index.html
crates/ui-app/target/.rustc_info.json
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.60.0/linux_amd64/terraform-provider-aws_v3.60.0_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/random/3.1.0/linux_amd64/terraform-provider-random_v3.1.0_x5
terraform/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/linux_amd64/terraform-provider-template_v2.2.0_x4
crates/ui-app/dist/
files/